backend/.env
backend/vendor/
*.log

# Evitar subir archivos personales de los usuarios por seguridad, privacidad y peso del repositorio
backend/uploads/

# Ocultar configuraciones y preferencias locales del editor Visual Studio Code
.vscode/
